@import "../vendors/normalize.css";
/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../../vendors/fonts/roboto-v30-latin-regular.eot"), url("../../vendors/fonts/roboto-v30-latin-regular.eot?#iefix") format("embedded-opentype"), url("../../vendors/fonts/roboto-v30-latin-regular.woff2") format("woff2"), url("../../vendors/fonts/roboto-v30-latin-regular.woff") format("woff"), url("../../vendors/fonts/roboto-v30-latin-regular.ttf") format("truetype"), url("../../vendors/fonts/roboto-v30-latin-regular.svg#Roboto") format("svg"); /* Legacy iOS */
}
.page {
  background-color: rgb(190, 190, 190);
  position: relative;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  font-family: "Roboto", "arial";
}
.page__header {
  position: fixed;
  width: 100%;
  top: 0;
  max-width: 1280px;
  min-height: 64px;
  z-index: 10;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #004E35;
}
.header__logo-link {
  display: block;
  width: 88px;
  height: 32px;
}
.header__nav {
  display: block;
}
@media screen and (max-width: 768px) {
  .header__nav {
    display: none;
    border-radius: 5px;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    background-color: #004E35;
    box-shadow: 0px 0px 10px 2px #88E53E;
  }
  .header__nav_active {
    display: flex;
    flex-direction: column;
  }
}
.header__burger {
  display: none;
  margin-right: 20px;
  background-color: #88E53E;
}
@media screen and (max-width: 768px) {
  .header__burger {
    display: block;
  }
}
.header__burger-close {
  display: none;
  align-self: flex-end;
  background-color: #88E53E;
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .header__burger-close {
    display: block;
  }
}
.header__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
@media screen and (max-width: 768px) {
  .header__list {
    flex-direction: column;
  }
}
.header__item:last-of-type {
  margin: 0 24px 0 0;
}
@media screen and (max-width: 768px) {
  .header__item:last-of-type {
    margin: 0;
  }
}
@media screen and (max-width: 768px) {
  .header__item {
    margin-bottom: 20px;
  }
}
.header__link {
  margin: 0 48px 0 0;
  color: #88E53E;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  .header__link {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.logo {
  margin: 0 0 0 24px;
}

.grow {
  position: relative;
  width: 100%;
  min-height: 640px;
  background-color: #004E35;
}
.grow__title {
  position: absolute;
  top: 35%;
  right: 105px;
  margin: 0;
  font-family: "Roboto", "arial";
  font-size: 179px;
  font-weight: normal;
  line-height: 1.25;
  color: #88E53E;
}
@media screen and (max-width: 1024px) {
  .grow__title {
    font-family: "Roboto", "arial";
    font-size: 110px;
    font-weight: normal;
    line-height: 1.25;
    color: #88E53E;
  }
}
@media screen and (max-width: 768px) {
  .grow__title {
    right: 3px;
  }
}
.grow__subtitle {
  position: absolute;
  top: 57%;
  right: 230px;
  margin: 0;
  font-family: "Roboto", "arial";
  font-size: 179px;
  font-weight: normal;
  line-height: 1.25;
  color: #88E53E;
}
@media screen and (max-width: 1024px) {
  .grow__subtitle {
    font-family: "Roboto", "arial";
    font-size: 110px;
    font-weight: normal;
    line-height: 1.25;
    color: #88E53E;
    top: 50%;
    right: 180px;
  }
}
@media screen and (max-width: 768px) {
  .grow__subtitle {
    right: 80px;
  }
}
.grow__text1 {
  position: absolute;
  top: 280px;
  left: 24px;
  margin: 0;
  max-width: 391px;
  min-height: 58px;
  color: #88E53E;
  font-size: 24px;
  line-height: 29px;
}
@media screen and (max-width: 1024px) {
  .grow__text1 {
    max-width: 320px;
  }
}
@media screen and (max-width: 768px) {
  .grow__text1 {
    top: 100px;
  }
}
.grow__text2 {
  position: absolute;
  top: 551px;
  left: 24px;
  margin: 0;
  color: #88E53E;
}

.protect {
  display: flex;
}
.protect__image {
  width: 50%;
  height: 640px;
  background-image: url(images/IMAGE.png);
  background-size: cover;
}
@media screen and (max-width: 1024px) {
  .protect__image {
    height: 500px;
  }
}
@media screen and (max-width: 768px) {
  .protect__image {
    height: 300px;
  }
}
.protect__text {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 640px;
  background-color: #C0E8C0;
}
@media screen and (max-width: 1024px) {
  .protect__text {
    height: 500px;
  }
}
@media screen and (max-width: 768px) {
  .protect__text {
    height: 300px;
  }
}
.protect__title {
  margin: 0;
  font-family: "Roboto", "arial";
  font-size: 63px;
  font-weight: normal;
  line-height: 1.22;
  color: #004E35;
}
@media screen and (max-width: 1024px) {
  .protect__title {
    font-family: "Roboto", "arial";
    font-size: 33px;
    font-weight: normal;
    line-height: 1.22;
    color: #004E35;
  }
}
.protect__text1 {
  margin: 0;
  font-family: "Roboto", "arial";
  font-size: 62px;
  font-weight: normal;
  line-height: 1.22;
  color: #004E35;
}
@media screen and (max-width: 1024px) {
  .protect__text1 {
    font-family: "Roboto", "arial";
    font-size: 32px;
    font-weight: normal;
    line-height: 1.22;
    color: #004E35;
  }
}
.protect__text2 {
  margin: 0;
  font-family: "Roboto", "arial";
  font-size: 60px;
  font-weight: normal;
  line-height: 1.22;
  color: #004E35;
}
@media screen and (max-width: 1024px) {
  .protect__text2 {
    font-family: "Roboto", "arial";
    font-size: 30px;
    font-weight: normal;
    line-height: 1.22;
    color: #004E35;
  }
}

.mission {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 52px 0;
  background-color: #FBF4EB;
}
.mission__title {
  margin: 0;
  font-size: 112px;
  line-height: 100.8px;
  font-weight: normal;
  color: #004E35;
}
@media screen and (max-width: 1024px) {
  .mission__title {
    font-family: "Roboto", "arial";
    font-size: 75px;
    font-weight: normal;
    line-height: 1.22;
    color: #004E35;
  }
}
.mission__text {
  margin: 0 0 68px 0;
  font-size: 108px;
  line-height: 100.8px;
  color: #004E35;
}
@media screen and (max-width: 1024px) {
  .mission__text {
    font-family: "Roboto", "arial";
    font-size: 75px;
    font-weight: normal;
    line-height: 1.22;
    color: #004E35;
  }
}
.mission__list {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #004E35;
  margin-bottom: 33.2px;
}
.mission__items {
  max-width: 88px;
  margin: 0 34px 17.8px 0;
}
.mission__items:first-child {
  padding-top: 15px;
  padding-left: 17px;
}
@media screen and (max-width: 1024px) {
  .mission__items:first-child {
    padding: 0;
  }
}
.mission__items:last-child {
  margin-right: 17px;
}
@media screen and (max-width: 1024px) {
  .mission__items:last-child {
    padding: 0;
    margin-right: 0;
  }
}
@media screen and (max-width: 768px) {
  .mission__items {
    margin-right: 5px;
    max-width: 61px;
  }
}
.mission__item {
  text-align: center;
  margin: 0;
  font-family: "Roboto", "arial";
  font-size: 17px;
  font-weight: normal;
  line-height: 0.85;
  color: #004E35;
}
@media screen and (max-width: 1024px) {
  .mission__item {
    font-family: "Roboto", "arial";
    font-size: 14px;
    font-weight: normal;
    line-height: 1.22;
    color: #004E35;
  }
}
@media screen and (max-width: 768px) {
  .mission__item {
    font-family: "Roboto", "arial";
    font-size: 12px;
    font-weight: normal;
    line-height: 1.22;
    color: #004E35;
  }
}
.mission__main-text {
  margin: 0;
  text-align: center;
  max-width: 595px;
  font-family: "Roboto", "arial";
  font-size: 24px;
  font-weight: normal;
  line-height: 1.22;
  color: #004E35;
}
@media screen and (max-width: 768px) {
  .mission__main-text {
    font-family: "Roboto", "arial";
    font-size: 14px;
    font-weight: normal;
    line-height: 1.22;
    color: #004E35;
  }
}

.platform {
  padding-bottom: 20px;
}
.platform__image {
  display: block;
  margin-bottom: 45px;
  width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: top;
}
@media screen and (max-width: 1024px) {
  .platform__image {
    height: 300px;
  }
}
@media screen and (max-width: 768px) {
  .platform__image {
    height: 200px;
  }
}
.platform__title {
  margin: 0 0 0 24px;
  max-width: 717px;
  text-transform: uppercase;
  margin-bottom: 200px;
  font-family: "Roboto", "arial";
  font-size: 139px;
  font-weight: normal;
  line-height: 0.85;
  color: #004E35;
}
@media screen and (max-width: 1024px) {
  .platform__title {
    font-family: "Roboto", "arial";
    font-size: 100px;
    font-weight: normal;
    line-height: 0.85;
    color: #004E35;
  }
}
@media screen and (max-width: 768px) {
  .platform__title {
    max-width: 320px;
    font-family: "Roboto", "arial";
    font-size: 50px;
    font-weight: normal;
    line-height: 0.85;
    color: #004E35;
  }
}
.platform__list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  width: 96.25%;
  display: flex;
  justify-content: space-between;
}
.platform__item {
  padding: 5px;
  width: 31.6558441558%;
  min-height: 140px;
  background-color: #FBF4EB;
}
@media screen and (max-width: 768px) {
  .platform__item {
    max-width: 24.3506493506%;
    min-height: 100px;
  }
}
.platform__link-text {
  font-family: "Roboto", "arial";
  font-size: 16px;
  font-weight: normal;
  line-height: 0.85;
  color: #004E35;
}
@media screen and (max-width: 768px) {
  .platform__link-text {
    font-family: "Roboto", "arial";
    font-size: 12px;
    font-weight: normal;
    line-height: 0.85;
    color: #004E35;
  }
}
.platform__icon {
  display: inline-block;
  padding: 5px;
  background-color: #C0E8C0;
}

/*# sourceMappingURL=style.css.map */
